p, ul{
  border: 2px solid purple;
  padding: .5em;
}
.block, li{
  border: 2px dashed skyblue;
  padding: .5em;  /*倍數*/
}
ul{
  display: flex;
  list-style: none;  /*不要點*/
}
li{
  margin: 5px 10px;
}
.block{
  display: block;
}